* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding-block: 30px;
    width: 80%;
    margin: 0 auto;
}
.nav--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    border-right: 2px solid rgb(86, 85, 85);
}

.navigation ul li {
    padding-inline: 12px;
}
.navigation a {
    text-decoration: none;
    color: rgb(15, 1, 1);
    
}

.assistance {
    display: flex;
}

.text {
    padding-inline: 10px;
}

/* .hero-section,
.hero-area {
    width: 100%;
} */

.hero-area {
    display: flex;
    justify-content: ;

}
.hero-area h1 {
    font-size: 70px;
}
.text-area {
    max-width: 45%;
}
.image-area {
    max-width: 55%;
}
.image-area img {
    width: 100%;
    height: 500px;
}

button {
    background-color: orangered;
    padding: 15px 15px;
    border: 1px solid orangered;
    margin-block: 50px;
    font-size: 20px;
    color: beige;
    border-radius: 10px;
    }

small {
    color: rgb(98, 104, 110);
    
}
.time-section {
    display: flex;
    /* justify-content: space-between; */
    gap: 5px;
    align-items: center;
}

.time-section img {
    width: 7%;
}

#quote-section {
    list-style: none;

}
.quote-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(111, 37, 37);
    background-image: url(https://cdn.pixabay.com/photo/2023/06/01/05/59/pattern-8032716_1280.jpg);
    color: bisque;
}
.quote-area ul li {
    display: flex;
    justify-content: space-between;
    align-items: start;
    
}
.quote-area ul li img {
    /* width: 25%; */
}
.form-area div {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.list-area {
    /* width: 50%; */
}
.list-area h2 {
    padding: 0;
    margin: 0;
}
.form-area {
    width: 50%;
}
.form-area  .input-box {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}